---
import WorksSection from "@/components/sections/WorksSection.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
---

<PageLayout title="Proyectos">
  <section class="site-container m-auto">
    <PageHeader
      title="Proyectos"
      description="Selección de proyectos de branding, identidad visual y contenido digital."
    />

    <WorksSection />
  </section>
</PageLayout>
